section{
    margin: 10px;
    padding: 10px;
}
h1{
    text-transform: uppercase;
}

ul{
    list-style: none;
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
#pied{
    background: black;
    color: white;
}